<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link href="{{ '/assets/css/style.css' | absolute_url }}" rel="stylesheet">
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      {% if site.title and site.title != page.title %}
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>
      {% endif %}

      {{ content }}

    </div>


<script src="https://www.gstatic.com/firebasejs/5.6.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBs-7CxcHdJ47bBYB1jRhCzgDopX4PAkzE",
    authDomain: "citakupilot.firebaseapp.com",
    databaseURL: "https://citakupilot.firebaseio.com",
    projectId: "citakupilot",
    storageBucket: "citakupilot.appspot.com",
    messagingSenderId: "425205662779"
  };
  firebase.initializeApp(config);
</script>

    <script src="{{ "assets/javascript/anchor-js/anchor.min.js" | absolute_url }}"></script>
    <script>anchors.add();</script>
  </body>
</html>
